<!DOCTYPE html>
<html lang="en" ng-app="moodTracker">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mood Tracker</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <main ng-view>

    </main>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/app.routes.js"></script>

    <!-- Login -->
    <script src="app/shared/login/loginController.js"></script>
    <script src="app/shared/login/loginService.js"></script>

    <!-- MoodRecord -->
    <script src="app/components/moodRecord/moodRecordController.js"></script>
    <script src="app/components/moodRecord/moodRecordService.js"></script>
</body>
</html>